@model List<Slider>


<div class="container">
<div class="row">
        <a class="btn btn-success" asp-action="Create">Create</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Discount</th>
                    <th scope="col">ImageUrl</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var slider in Model)
                {

                    <tr>

                        <th scope="row">@slider.Id</th>
                        <td>@slider.Title</td>
                        <td>@slider.Description</td>
                        <td>@slider.DiscountPercentage</td>
                        <td><img src="~/assets/images/website-images/@slider.ImageUrl" width="30" height="30" alt="Alternate Text" /></td>
                        <td>
                            <a class="btn btn-warning" asp-action="Update" asp-route-id="@slider.Id">Update</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@slider.Id">Delete</a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
</div>
</div>
