@using Pronia2.ViewModels.ProductViewModels
@model ProductCreateVm

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Name" placeholder="Enter product Name">
                    <span asp-validation-for="Name" class="text-danger" style="font-size: 0.875rem; font-weight: bold; padding-top: 5px;"></span>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput1">Description</label>
                    <input class="form-control" id="formGroupExampleInput" asp-for="Description" placeholder="Enter product Description">
                    <span asp-validation-for="Description" class="text-danger" style="font-size: 0.875rem; font-weight: bold; padding-top: 5px;"></span>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput2">Main Image Url</label>
                    <input class="form-control" id="formGroupExampleInput3" asp-for="MainImage" placeholder="Enter product Main Image Url">
                    <span asp-validation-for="MainImage" class="text-danger d-block" style="font-size: 0.875rem; font-weight: bold; padding-top: 5px;"></span>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput3">Hover Image Url</label>
                    <input class="form-control" id="formGroupExampleInput3" asp-for="HoverImage" placeholder="Enter product Hover Image Url">
                    <span asp-validation-for="HoverImage" class="text-danger d-block" style="font-size: 0.875rem; font-weight: bold; padding-top: 5px;"></span>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput3">Images</label>
                    <input class="form-control" id="formGroupExampleInput3" asp-for="Images" >
                    <span asp-validation-for="Images" class="text-danger d-block" style="font-size: 0.875rem; font-weight: bold; padding-top: 5px;"></span>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput4">Price</label>
                    <input class="form-control" id="formGroupExampleInput2" asp-for="Price" placeholder="Enter product Price">
                    <span asp-validation-for="Price" class="text-danger d-block" style="font-size: 0.875rem; font-weight: bold; padding-top: 5px;"></span>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput5">SKU</label>
                    <input class="form-control" id="formGroupExampleInput4" asp-for="SKU" placeholder="Enter product SKU">
                    <span asp-validation-for="SKU" class="text-danger d-block" style="font-size: 0.875rem; font-weight: bold; padding-top: 5px;"></span>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput5">Rating</label>
                    <input class="form-control" id="formGroupExampleInput4" asp-for="Rating" placeholder="Enter product SKU">
                    <span asp-validation-for="Rating" class="text-danger d-block" style="font-size: 0.875rem; font-weight: bold; padding-top: 5px;"></span>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput6">Categories</label>
                    <select asp-for="CategoryId">
                        @foreach (Category category in ViewBag.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger d-block" style="font-size: 0.875rem; font-weight: bold; padding-top: 5px;"></span>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput6">Tags</label>
                    <select asp-for="TagIds">
                        @foreach (Tag tag in ViewBag.Tags)
                        {
                            <option value="@tag.Id">@tag.Name</option>
                        }
                    </select>
                    <span asp-validation-for="TagIds" class="text-danger d-block" style="font-size: 0.875rem; font-weight: bold; padding-top: 5px;"></span>
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput6">Brands</label>
                    <select asp-for="BrandIds">
                        @foreach (Brand brand in ViewBag.Brands)
                        {
                            <option value="@brand.Id">@brand.Name</option>
                        }
                    </select>
                    <span asp-validation-for="BrandIds" class="text-danger d-block" style="font-size: 0.875rem; font-weight: bold; padding-top: 5px;"></span>
                </div>

                <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>