@model List<BasketItem>
@{
    var totalPrice = Model.Sum(x => x.Product.Price * x.Count);
}
<div class="row">
    <div class="col-12">
        <form action="javascript:void(0)">
            <div class="table-content table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="product_remove">remove</th>
                            <th class="product-thumbnail">images</th>
                            <th class="cart-product-name">Product</th>
                            <th class="product-price">Unit Price</th>
                            <th class="product-quantity">Quantity</th>
                            <th class="product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var basketItem in Model)
                        {
                            <tr>
                                <td class="product_remove">
                                    <a asp-action="RemoveFromBasket" asp-controller="Basket" asp-route-productId="@basketItem.ProductId">
                                        <i class="pe-7s-close"
                                           data-tippy="Remove"
                                           data-tippy-inertia="true"
                                           data-tippy-animation="shift-away"
                                           data-tippy-delay="50"
                                           data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder"></i>
                                    </a>
                                </td>
                                <td class="product-thumbnail">
                                    <a href="#">
                                        <img class="w-25 h-25" src="assets/images/website-images/@basketItem.Product.MainImageUrl"
                                             alt="Cart Thumbnail" />
                                    </a>
                                </td>
                                <td class="product-name">
                                    <a href="#">@basketItem.Product.Name</a>
                                </td>
                                <td class="product-price">
                                    <span class="amount">$@basketItem.Product.Price</span>
                                </td>
                                <td class="quantity">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box"
                                               value="@basketItem.Count"
                                               type="text" />
                                        <div style="z-index:999" class="dec qtybutton decreaseBtn" data-productId="@basketItem.ProductId">
                                            <i class="fa fa-minus"></i>
                                        </div>
                                        <div style="z-index:999" class="inc qtybutton increaseBtn" data-productId="@basketItem.ProductId">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-subtotal">
                                    <span class="amount">$@(basketItem.Product.Price* basketItem.Count)</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="coupon-all">
                        <div class="coupon">
                            <input id="coupon_code"
                                   class="input-text"
                                   name="coupon_code"
                                   value=""
                                   placeholder="Coupon code"
                                   type="text" />
                            <input class="button mt-xxs-30"
                                   name="apply_coupon"
                                   value="Apply coupon"
                                   type="submit" />
                        </div>
                        <div class="coupon2">
                            <input class="button"
                                   name="update_cart"
                                   value="Update cart"
                                   type="submit" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 ml-auto">
                    <div class="cart-page-total">
                        <h2>Cart totals</h2>
                        <ul>
                            <li>Total <span>$@totalPrice</span></li>
                        </ul>
                        <a href="#">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
